@font-face {
  font-family: xmas;
  src: url(MerryChristmasFlake.ttf);
}

.button-christmas {
  background-color: green;
}

.p-christmas {
  background-color: green;
  color: red;
}
.d-christmas {
  background-color: green;
  color: white;
  font-family: xmas;
  font-size: 50px;
}

.ol.item-christmas {
  color: green;
}

/* .inputForm {
  display: flex;
  position: relative;
  left: 10%;
  width: 80%;
  flex-direction: row;
  justify-content: space-evenly;

  padding-bottom: 2%;
} */

input {
  height: 30px;
  width: 400px;
  font-size: 25px;
  border-radius: 4px;
}

div {
  min-height: 300vh;
}

button {
  height: 30px;
  width: 200px;
}
